// ############################
// STYLES/LAYOUT
// ############################


// === COLORS === //

$bg-color: #0F0F0F;
$font-color: #FFF;
$action-color: #CF5C36;
$link-color: #EFC88B;


// === TAGS === //

* {
  box-sizing: border-box;
}

html, body, .container {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
}

// .test {
//   background: red !important;
// }

h1, h2, h3, h4 { margin: 0; font-weight: 300; }
h1 { font-size: 2.074rem}
h2 { font-size: 1.728rem}
h3 { font-size: 1.44rem}
h4 { font-size: 1.2rem}

.container {
  padding: 0 2.5rem;
}



header, footer {
  height: 10%;
  display: flex;
  justify-content: space-between;
}

header, main, footer {
  // padding: 0 2.5rem;
}

header div,
footer div {
  flex-basis: 33.33%;
}

main {
  height: 80%;
  position: relative;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: $action-color;
}


// === SPECIFIC STYLES ===

.logo h2 {
  font-weight: 700;
  padding: 0.4rem 1rem;
  // border: 4px solid $action-color;
  color: $action-color;
}

.convo-question {
  width: 600px;
  padding-bottom: 1rem;
}

.categories {
  max-width: 600px;
  width: 100%;
}

.btn {
  margin: 0 auto;
  width: 200px;
}

// --- MAIN PAGE ---

.bg-img {
   background-image: url('../img/logo.svg');
   background-size: 100vh;
   background-repeat: no-repeat;
   background-position: center top;
}

.test{
  fill: red !important;
}

ul.tags {
  margin: 3rem 0 0 0;
  text-align: right;

  li {
    float: right;
    margin-left: 10px;
    padding: 0.3rem 1.5rem;
    border: 1px solid $bg-color;
    border-radius: 10px;
  }
}

.question-btns {
  position: absolute;
  padding-bottom: 3rem;
  width: 60%;

  button {
    padding: 1rem;
    font-size: 3rem;
  }
}


// --- CATEGORIES PAGE ---

.content {
  li {
    width: 300px;
    height: 300px;
    display: inline-block;
    position: relative;
  }

  h4 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

.selected {
  background: $link-color;
}


// --- QUESTIONS PAGE ---

.tabs {
  .category {
    margin: 1rem 0;
    background: $link-color;
  }
}


// === UTILITY CLASSES ===

.tal { text-align: left; }
.tac { text-align: center; }
.tar { text-align: right; }

.fl { float: left; }
.fr { float: right; }

.vert-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hor-center {
  align-items: center;
}

.cf::after {
  content: "";
  display: block;
  clear: both;
}
