// =============================
// STYLES/LAYOUT
// =============================


// --- COLORS ---

$bg-color: #0F0F0F;
$font-color: #FFF;
$action-color: #9CCECC;


* {
  box-sizing: border-box;
}

html, body, .container {
  height: 100%;
}

body {
}

header, footer {
  height: 15%;
  display: flex;
  justify-content: space-between;
}

main {
  height: 70%;
}

.about,
.logo,
.lists,
.user-access,
.submit,
.credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}


header, main, footer {
  border: 1px solid $bg-color;
}
