// ############################
// STYLES/LAYOUT
// ############################

// ====== ANIMATIONS ======

// Transitional fades
.page-fade {
  transition: 250ms all ease-in-out;
}
.fast-fade {
  transition: 150ms all ease-in-out;
}
.ng-enter {
  opacity: 0;
}
.ng-enter-active {
  opacity: 1;
}
.ng-leave {
  opacity: 1;
}
.ng-leave-active {
  opacity: 0;
}

// Modal slide up/down
.slide-down.ng-hide-add {
  animation: 250ms slideOutUp ease-in-out;
}
.slide-down.ng-hide-remove {
    animation: 250ms slideInDown ease-in-out;
}
.slide-up.ng-hide-add {
  animation: 250ms slideOutDown ease-in-out;
}
.slide-up.ng-hide-remove {
    animation: 250ms slideInUp ease-in-out;
}


// ====== MIXINS ======

@mixin abs-vert-center {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@mixin flex-vert-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


// ====== COLORS ======

$font-color: #FFF;
$light-color: #CACACA;
$dark-font-color: #2B2624;
$primary-color: #CF5C36;
$secondary-color: #BD522E;
$action-color: #F2D3A1;
$modal-bg-color: rgba(255, 255, 255, 0.95);


// ====== TYPOGRAPHY ======

$font-stack: 'Rubik', sans-serif;


// ====== PSEUDO-CLASSES ======

::selection {
  background: $secondary-color;
}

:focus {
  outline: none;
}


// ====== TAGS ======

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 85%;
}

html, body, .page {
  height: 100%;
  width: 100%;
}

body {
  font: 300 1rem $font-stack;
  color: $font-color;
  line-height: 1.5;
  background: $primary-color;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: relative;
}

h1, h2, h3, h4 { margin: 0; font-weight: 300; }
h1 { font-size: 2.074rem}
h2 { font-size: 1.728rem}
h3 { font-size: 1.44rem}
h4 { font-size: 1.2rem}

header, main, footer {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

header, footer {
  background: $secondary-color;
}

header .portion {
  flex-basis: 33.33%;
}

footer .portion {
  flex-basis: 50%;
}

main {
  height: 80%;
  position: absolute;
}

footer {
  bottom: 0;
  position: absolute;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: $font-color;
  line-height: 2;
}

textarea {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid $light-color;
  color: $dark-font-color;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 5px $light-color;
}


// ====== GENERAL STYLES ======

.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}


// --- MAIN PAGE ---

.logo h2 {
  font-weight: 500;
  padding: 0.4rem 1rem;
  color: $action-color;
  line-height: 1;
}

.convo-question {
  width: 100%;
  max-width: 500px;
  position: relative;
  height: 100%;

  h1 {
    @include abs-vert-center;
    top: 45%;
    width: 100%;
  }
}

.question-btns {
  width: 100%;

  div {
    margin-top: 6px;
  }

  button {
    padding: 15px 15px 2px;
    color: $action-color;
    border: 3px solid $action-color;
    background: $primary-color;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }

  img {
    width: 40px;
  }
}


// --- MODALS ---

.modal {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  background: $modal-bg-color;
  color: $dark-font-color;
  overflow: auto;
}

.wrapper {
  margin: 80px auto 0;
  max-width: 600px;
  width: 90%;
}

.modal-links {
  position: absolute;
  z-index: 2;
  top: 10px;

  a {
    padding: 0.2rem 2rem;
    border: 4px solid $primary-color;
  }
}

.emph-link {
  line-height: 1.5;
  color: $primary-color;
}

.left-btn { left: 10px; }
.right-btn { right: 10px; }

.btn-success {
  background: $primary-color;
  color: $font-color;
}

.btn-secondary {
  background: $font-color;
  color: $primary-color;
}

.btn-form {
  padding: 0.9rem 2rem;
  border: 4px solid $primary-color;
  font-weight: 300;
}

.btn-toggle {
  padding: 0.2rem 1rem;
  border: 2px solid white;
}


// Categories modal
.cat-modal {
  .btn-toggle {
    color: $primary-color;
    border-color: $primary-color;
  }
}

.instructions h4 {
  padding-bottom: 1rem;
}

.categories {
  li {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 40px;
    border: 2px solid $action-color;
    color: $dark-font-color;
  }
  h4 {
    @include abs-vert-center;
    text-align: center;
  }
  .selected {
    background: $action-color;
    color: $dark-font-color;
  }
  .checkmark {
    margin-top: 11px;
    margin-right: 7px;
    width: 15px;
  }
}

// Submit a question modal
.sac-modal p {
  margin: 0;
}

// --- QUESTIONS PAGE ---

.questions-page {
  margin-top: 2rem;
  position: absolute;
  width: 100%;
}

.drawers {
  .category {
    margin: 1rem 0;
    padding: 1rem 40px;
    background: $secondary-color;
    cursor: pointer;
  }
  h4 {
    padding: 0.3rem 0px;
  }
  .questions {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
}

.back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
  background: $primary-color;

  img {
    width: 10px;
    vertical-align: middle;
  }
}


// === UTILITY CLASSES ===

.tal { text-align: left; }
.tac { text-align: center; }
.tar { text-align: right; }

.vert-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hor-center {
  align-items: center;
}

.ib { display: inline-block; }
.fl { float: left; }
.fr { float: right; }

.cf::after {
  content: "";
  display: block;
  clear: both;
}

.hide-scrollbar { overflow: hidden; }

// Responsive classes
.counter {
  display: none;
}


// ############################
// MEDIA QUERIES
// ############################

@media screen and (orientation: landscape) {

  .convo-question {
    height: 50%;
  }

}


@media screen and (min-width: 480px) and (min-height: 480px) {

  html {
    font-size: 95%;
  }

  header, footer {
    background: $primary-color;
  }

  .bg-img {
     background-image: url('../img/logo.svg');
     background-size: 100vh;
     background-repeat: no-repeat;
     background-position: center top;
  }

  .container {
    width: 80%;
  }

  .wrapper {
    margin-top: 100px;
  }

  .btn-toggle {
    padding: 0.4rem 1rem;
  }

  .modal-links a {
    padding: 0.4rem 2rem;
  }

}


@media screen and (min-width: 480px) and (min-height: 650px) {

  .wit-modal,
  .saq-modal {
    @include flex-vert-center;

    .wrapper {
      margin-top: 0;
    }
  }

}


@media screen and (min-width: 480px) and (min-height: 800px) {

  .cat-modal {
    @include flex-vert-center;

    .wrapper {
      margin-top: 0;
    }
  }

}


@media screen and (min-width: 768px) {

  header, footer {
    height: 10%;
  }

  header .portion,
  footer .portion {
    flex-basis: 33.33%;
  }

  .mobile {
    display: none;
  }

  .counter {
    display: flex;
  }

  .container {
    width: 70%;
  }

  .question-btns {
    @include abs-vert-center;
    padding-bottom: 3rem;
    min-width: 730px;
    width: 65%;

    button {
      padding: 19px 20px 4px;
      cursor: pointer;
      outline: none;
    }

    img {
      width: 50px;
    }
  }

}


@media screen and (min-width: 960px) {

  html {
    font-size: 100%;
  }

  header, main, footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .convo-question {
    max-width: 600px;
  }

  .question-btns {
    min-width: 900px;
  }

  .instructions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      padding: 0;
    }
  }

  .left-btn { left: 20px; }
  .right-btn { right: 20px; }
  .modal-links { top: 20px; }
  .back-to-top { right: 2rem; }

}
