* {
  box-sizing: border-box; }

html, body, .page {
  height: 100%;
  width: 100%; }

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  color: #FFF; }

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 300; }

h1 {
  font-size: 2.074rem; }

h2 {
  font-size: 1.728rem; }

h3 {
  font-size: 1.44rem; }

h4 {
  font-size: 1.2rem; }

.page {
  position: relative;
  max-width: 2000px;
  max-height: 1000px;
  background: #CF5C36;
  overflow: auto; }

.container {
  width: 70%;
  margin: 0 auto;
  position: relative; }

header, main, footer {
  display: flex;
  padding-left: 3rem;
  padding-right: 3rem; }

header, footer {
  height: 10%; }

header div,
footer div {
  flex-basis: 33.33%; }

main {
  height: 80%;
  width: 100%;
  position: absolute; }

footer {
  bottom: 0;
  width: 100%;
  position: absolute; }

ul {
  padding: 0;
  list-style: none; }

a {
  color: #FFF;
  text-decoration: none; }

.wrapper {
  margin: 0 auto;
  max-width: 600px;
  width: 90%; }

.about {
  z-index: 2;
  cursor: pointer; }
  .about .close-link {
    color: #CF5C36; }

.what-is-this {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  color: #2b2624;
  z-index: 1; }

.logo h2 {
  font-weight: 700;
  padding: 0.4rem 1rem;
  color: #f2d3a1; }

.convo-question {
  width: 600px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.btn {
  margin: 0 auto;
  width: 200px; }

.btn-styles {
  padding: 0.5rem 1rem;
  outline: 0;
  font-family: "Rubik", sans-serif;
  color: #2b2624;
  background: #f2d3a1;
  border: 1px solid #bd522e;
  border-radius: 10px;
  cursor: pointer; }

.home-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.bg-img {
  background-image: url("../img/logo.svg");
  background-size: 100vh;
  background-repeat: no-repeat;
  background-position: center top; }

.question {
  height: 100%; }
  .question h1 {
    position: absolute;
    top: 45%;
    transform: translateY(-50%); }

.page-fade {
  transition: 300ms ease-in-out; }

.card-fade {
  transition: 125ms ease-in-out; }

.ng-enter {
  opacity: 0; }

.ng-enter-active {
  opacity: 1; }

.ng-leave {
  opacity: 1; }

.ng-leave-active {
  opacity: 0; }

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp; }

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown; }

.what-is-this.ng-hide-add {
  animation: 300ms slideOutUp ease-in-out; }

.what-is-this.ng-hide-remove {
  animation: 300ms slideInDown ease-in-out; }

ul.tags {
  margin: 0.5rem 0; }
  ul.tags li {
    display: inline-block;
    margin-left: 1rem;
    font-weight: 300;
    border-radius: 10px; }

.question-btns {
  position: absolute;
  padding-bottom: 3rem;
  min-width: 900px;
  width: 65%; }
  .question-btns button {
    padding: 0.5rem 1rem;
    font-size: 3rem; }

.content li {
  width: 100%;
  height: 100px;
  display: inline-block;
  position: relative; }
.content h4 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; }

.selected {
  background: #bd522e; }

.tabs .category {
  margin: 1rem 0;
  background: #bd522e; }

.tal {
  text-align: left; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.vert-center {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.hor-center {
  align-items: center; }

.fl {
  float: left; }

.fr {
  float: right; }

.cf::after {
  content: "";
  display: block;
  clear: both; }

.modal-open {
  overflow: hidden; }

/*# sourceMappingURL=styles.css.map */
