<!-- <div class="container"> -->
    <!-- <header>
        <div class="about vert-center">
        </div>
        <div class="logo vert-center tac">
            <a ui-sref="main">
                <h2>convo buddy</h2>
            </a>
        </div>
        <div class="lists vert-center tar">
            <button type="button" class="btn" ng-click="search()">search</button>
        </div>
    </header> -->
    <main>
        <ul class="content">
            <li ng-class="{'selected': category.switch}" ng-repeat="category in categories track by $index" ng-click="toggleSelected($index)">
                <h4>{{category.name}}</h4>
            </li>
        </ul>
    </main>
<!-- </div> -->
