<main class="vert-center hor-center">
    <div class="convo-question">
        <div class="question" ng-swipe-right="prevQuestion()" ng-swipe-left="nextQuestion()">
            <h1 ng-repeat="question in currentQuestion" class="fast-fade tac">{{question.text}}</h1>
        </div>
    </div>
    <div class="question-btns cf">
        <button class="prev-btn btn-styles fl" ng-click="prevQuestion()">←</button>
        <button class="next-btn btn-styles fr" ng-click="nextQuestion()">→</button>
    </div>
</main>
<footer>
    <div class="user-access vert-center">
        <a href="#">log in</a>
        <a href="#">sign up</a>
    </div>
    <div class="counter vert-center tac">
        <h4>{{index + 1}} / {{questions.length}}</h4>
        <a ng-click="shuffle()">shuffle questions</a>
    </div>
    <div class="credits vert-center tar">
        <a href="#">submit a question</a>
        <a href="https://johnnycopes.github.io/" target="_blank">made by johnnycopes</a>
    </div>
</footer>
