<div class="container bg-img">
    <header>
        <div class="about vert-center">
            <a href="#">what is this?</a>
        </div>
        <div class="logo vert-center tac">
            <a ui-sref="main">
                <h2>convo buddy</h2>
            </a>
        </div>
        <div class="lists vert-center tar">
            <a ui-sref="content">categories/questions</a>
        </div>
    </header>
    <main class="vert-center hor-center">
        <div class="convo-question">
            <h1>{{questions[index].text}}</h1>
            <ul class="tags cf">
                <li class="category" ng-repeat="category in questions[index].categories">{{category.name}}</li>
            </ul>
        </div>
        <div class="question-btns">
            <button class="prev-btn fl" ng-click="prevQuestion()">←</button>
            <button class="next-btn fr" ng-click="nextQuestion()">→</button>
        </div>
    </main>
    <footer>
        <div class="user-access vert-center">
            <a href="#">log in</a>
            <a href="#">sign up</a>
        </div>
        <div class="submit vert-center tac">
            <button type="button" class="btn">submit a question</button>
        </div>
        <div class="credits vert-center tar">
            <a href="#">made by johnnycopes</a>
        </div>
    </footer>
</div>
