<div class="container page-fade">
    <header>
        <div class="about vert-center">
        </div>
        <div class="logo vert-center tac">
            <a ui-sref="main">
                <h2>convo buddy</h2>
            </a>
        </div>
        <div class="lists vert-center tar">
        </div>
    </header>
    <div class="tabs">
        <ul>
            <li class="tab" ng-repeat="(category, questions) in content">
                <h4 class="category">{{category}}</h4>
                <ol>
                    <li class="question" ng-repeat="question in questions" ng-class="fade">
                        <h4>{{question}}</h4>
                    </li>
                </ol>
            </li>
        </ul>
    </div>
</div>
