<div class="questions-page">
    <div class="container">
        <div class="tac">
            <a class="btn-toggle" ng-click="toggleDrawers()">expand / collapse all</a>
        </div>
        <ul class="drawers">
            <li class="drawer" ng-repeat="(category, questions) in content">
                <h4 class="category" ng-click="toggleDrawer(questions)">{{category}}</h4>
                <ol ng-show="questions.toggle" class="questions">
                    <li class="question" ng-repeat="question in questions">
                        <h4>{{question}}</h4>
                    </li>
                </ol>
            </li>
        </ul>
    </div>
</div>
